<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de libros</title>
</head>
<body>



<table border="1px" style="display: table; margin:auto; margin-top:200px; width: 50%;border-collapse: collapse;">
    <th>ID</th>
    <th>NOMBRE</th>
    <th>ACTIVO</th>


    <th colspan="2">Acciones</th>
    <tbody>
    <tr th:each="en: ${entrenadores}">
        <td th:text="${en.id}"/>
        <td th:text="${en.nombre}"/>
        <td th:text="${en.activo}"/>
        <td><a th:href="@{'/deleteEntrenador/'+${en.id}}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>